numpy
scipy
numpydoc
pint
nbsphinx
ipython
numba
sphinxcontrib-katex
sphinx-sitemap
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib.googleanalytics
matplotlib
ruff
mypy
pytest-xdist
pytest
pytest-cov
pytz
jacobi
numdifftools
mpmath
pandas
fluids>=1.1.0
chemicals>=1.3.3
sympy